@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato:wght@300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato:wght@300&family=Permanent+Marker&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url(./img/pattern-randomized.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h1 {
    width: 47%;
    line-height: 70px;
    background-color: darkgreen;
    text-align: center;
    margin: 150px 0 20px;
    border-radius: 50px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: 300;
    color: white;
}
.please, .para, .life {
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
}
.first, .second, .life-span {
    color: rgb(238, 44, 77);
    font-weight: 900;
}
.input {
    width: 200px;
    height: 70px;
    font-size: 50px;
    border-radius: 0 20px 0 20px;
    border: 5px solid darkgreen;
    margin-bottom: 20px;
    text-align: center;
    line-height: 70px;
    color: rgb(238, 44, 77);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.check, .restart{
    width: 150px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 50px;
    border: 2px solid darkgreen;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
    color: black;
}
.check:active, .restart:active {
    font-size: 33px
}
.over, .fire{
    display: none;
}


@media (max-width:900px){
    h1{
        width: 67%;
        font-size: 2rem;
    }
    .please, .para, .life{      
        font-size: 2rem;  
    }

    .input{
        width: 100px;
        height: 40px;
        font-size: 30px;
        }
    .check, .restart{
        width: 100px;
        line-height: 40px;
        font-size: 20px;

    }
    .check:active, .restart:active{
        font-size: 23px;
    }
}

@media (max-width:470px){
    h1{
        width: 50%;
        font-size: 1rem;
    }
    .please, .para, .life{      
        font-size: 1rem;  
    }

    .input{
        width: 70px;
        height: 30px;
        font-size: 20px;
        border-radius: 5px;
        }
    .check, .restart{
        width: 70px;
        line-height: 30px;
        font-size: 10px;
        border-radius: 5px;

    }
    .check:active, .restart:active{
        font-size: 13px;
    }
}